body {
  --main-background-color: #FDFDFF;
  --secondary-backgroud-color: #b1b3b0;
  --main-text-color: #0E2A53;
  --secondary-text-color: #40423C;
  --border-color:#D72600;
  --messaging-font:'JetBrains Mono', 'Andale Mono', Trebuchet, Arial;
  --primary-font: 'Rubik', 'Gill Sans', Helvetica; 
  background-color: var(--main-background-color);
}
/**
Messaging font: jetbrains mono
everything else: Poppins
*/
@font-face {
font-family: 'JetBrains Mono', 'Andale Mono', Trebuchet, Arial;
src: url(Fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
font-family: 'Rubik', 'Gill Sans', Helvetica;
src: url(Fonts/Rubik/Rubik-VariableFont_wght.ttf);
}


.center {
    margin: auto;
    margin-top: 10%;
    width: 60%;
    border: 3px solid var(--border-color);
    padding: 10px;
    background-color: var(--secondary-backgroud-color);
    
}

.formDesign {
  text-align: center;
  font-family: 'Rubik', 'Gill Sans', Helvetica;
  font-size: large;
  margin: 30px 0px 30px 0px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  margin-bottom: 20px;
  margin-top: 10px;
}


.GamePlayLayout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  height: 500px;
}

#gridChild{
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--secondary-backgroud-color);
}

.leaderboardBox{
  padding: 2%;
}

.leaderboardBox h3{
  text-align: center;
}


.cardScroll{
  
  display: block;
  height: 200px;
  margin-left: 6%;
  margin-right: 6%;
  background-color: var(--secondary-backgroud-color);
}

footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-left: 20px;
}
main{
  height: 100%;
}

/*the current background colors are set to indicate sections
cards, messaging section and leaderboard will be smaller 
and in the centered within each section*/

/*ask shull about the best way to set up a horizontal scroll bar
to help with a grid and js that will generate more grid "columns"
as more cards are added*/

/*likely the login display, gameplay screen, and spinner will be 
fixed and centered, js will have any screen not in use "invisible"
-game logic will bring up the spinner screen without user indication
but will use js and user input to send info on which card is allowed
to be used*/

